@charset "utf-8";

@import url('variables.css');
@import url('dark-mode.css');
@import url('animation.css');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--text-color);
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--external-background-color);
}

.flex-container{
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#calculator{
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    height: 500px;
    width: 324px;

    background-color: var(--internal-background-color);
    border: 1px solid var(--calculator-external-border-color);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

fieldset{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    flex: 0 0 auto;
    height: 100%;
    width: 100%;
    border: 1px solid var(--calculator-internal-border-color);
    border-radius: 7px;
    padding: 1px;
}

legend{
    border-radius: 7px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    border: 1px solid var(--calculator-internal-border-color);

}

div#display{
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
}

label{
    width: 288px;
    word-wrap: break-word;
    height: 82px;
    flex: 0 0 auto;
    font-size: var(--large-font-size);
    line-height: var(--small-line-height);
    padding: 0px 10px;
    text-align: right;
    border: 1px dotted transparent;
    transition: .5s;
}

label#result-label{
    font-size: var(--small-font-size);
    line-height: var(--large-line-height);
}

button{
    flex: 0 0 auto;
    height: 50px;
    width: 70px;
    margin: 1px;

    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    box-shadow: none;

    transition: .3s;
    animation-name: ResizeButton;
    
}

button#denary{
    color: var(--text-color); 
}

button > span{
    color: var(--function-button-text-color);
}

button.function-button{
    background-color: var(--function-button-color);
    color: var(--function-button-text-color);

    &:hover{
        background-color: var(--function-button-hover-color);
    }

    &:active{
        background-color: var(--function-button-clicked-color);
    }
}

button.number-button{
    background-color: var(--number-button-color);

    &:hover{
        background-color: var(--number-button-hover-color);
    }

    &:active{
        background-color: var(--number-button-clicked-color);
    }
}

button#result-button{
    background-color: var(--result-button-color);
    color: var(--background-color);

    &:hover{
        background-color: var(--result-button-hover-color);
    }

    &:active{
        background-color: var(--result-button-clicked-color);
    }
}