:root{
    --text-color: black;
    --internal-background-color: #F7F7F7;
    --external-background-color: #fff;

    --number-button-color: #fff;
    --number-button-hover-color: #eeeeee;
    --number-button-clicked-color: #dfdfdf;

    --function-button-color: #fff;
    --function-button-text-color: #FF8515;
    --function-button-hover-color: #eeeeee;
    --function-button-clicked-color: #dfdfdf;

    --result-button-color: #FF8515;
    --result-button-hover-color: #ec7d14;
    --result-button-clicked-color: #ec7d14;

    --function-button-color: #fff;

    --border-color: rgba(59, 59, 59, 0.5);
    --calculator-internal-border-color: black;
    --calculator-external-border-color: black;
    
    --small-font-size: 1.5em;
    --large-line-height: 3.2em;
    --large-font-size: 2.8em;
    --small-line-height: 1.5em;
}